strong{
    font-weight: 700;
}

.section__wrapper {
    margin: 0 auto;
    padding-top: 55px;
    overflow: hidden;

    @include minWidth(425) {
        padding-top: 62px;
    }

    @include desktop {
        padding-top: 57px;
    }
}

button{
    cursor: pointer;
}

.hw-wrapper {
    position: relative;
    margin: 0 auto;
    max-width: $width-md;
    width: $width-full;
    height: 100%;
    @include clearfix;

    @include maxWidth(767) {
        padding: 0 10%;
        width: 100%;
    }

    @include minWidth(768) {
        padding: 0 5%;
    }
    @include minWidth(1024) {
        padding: 0;
    }
}
