.lp_controle_conteudos {
    background-image: url(../img/novo/bg_banner-apps_mobile.png);
    display: flex;
    justify-content: center;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 755px;
    @include desktop {
        height: 541px;
        background-image: url(../img/novo/bg_banner-apps.png);
        background-position: right bottom;
    }

    &.regional {
        background-image: url(../img/novo/bg_banner-apps_regional_mobile.png);
        @include desktop {
            background-image: url(../img/novo/bg_banner-apps_regional.png);
        }
        .hide {
            display: none;
        }
        .app-groups {
            max-width: 418px;
            &__item {
                width: 50%;
                @include desktop {
                    margin-bottom: 0px;
                    width: 33%;
                }
            }
        }
        .app-columns__text {
            &.all {
                display: none !important;
            }
            &.regions {
                display: block;
            }
        }
    }
    .app-container {
        max-width: 1224px;
        width: 100%;
        padding: 0px 30px;
        display: flex;
        flex-direction: column;
        @include desktop {
            padding: 0px 60px;
        }
        &__title {
            width: 100%;
            margin-top: 0px;
            margin-bottom: 38px;
            font-size: 32px;
            @include desktop {
                margin-bottom: 30px;
                font-size: 36px;
            }
        }
    }
    .app-columns {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        height: 307px;
        @include desktop {
            height: 470px;
        }
        &__column {
            width: 100%;
            max-width: 410px;
            @include desktop {
                width: 50%;
            }
        }
        &__title {
            margin: 0px 0px 24px;
            font-size: 28px;
            font-weight: 800;
            @include desktop {
                font-size: 30px;
            }
        }
        &__text {
            margin-bottom: 15px;
            &.all {
                display: block;
            }
            &.regions {
                display: none;
            }
        }
    }
    .app-groups {
        display: flex;
        flex-wrap: wrap;
        margin-top: 35px;
        max-width: 310px;
        &__item {
            display: flex;
            align-items: center;
            width: 50%;
            margin-bottom: 32px;
            &:nth-child(3),
            &:nth-child(4) {
                @include desktop {
                    margin-bottom: 0px;
                }
            }
            .icon {
                margin-right: 14px;
            }
            .text {
            }
        }
    }
}
