.regionalized {

    .lp_controle_planos {
        .container_planos {
            @include mobile {
                display: block;
            }
        }
    }
}

.lp_controle_planos {
    position: relative;

    @include mobile {
        padding: 40px 0px;
        min-height: 360px;
    }

    .hidden-details {
        display: none;
    }

    .container_planos {
        position: relative;

        @include desktop {
            margin-top: 45px;
        }

        @include mobile {
            display: none;
        }

        h1 {
            margin-top: 13px;
            text-align: center;
        }

        .inner-planos-mobile {
            display: block;
            margin: 60px -30px;
            margin-left: 0px !important;

            .quantidade-plan {
                height: 88px;
                // background-image: linear-gradient(to right, #A42195, #B22895);
            }

            // cores
            .item-plan:nth-child(1) {
                .quantidade-plan {
                    background-image: linear-gradient(to right, #831A77, #8E2077);
                }

                .exclusivos-plan,
                .whatsapp-plan {
                    background-image: linear-gradient(to right, #A42195, #B22895);
                    border-top: 1px solid #8E2077;
                }
            }

            .item-plan:nth-child(2) {
                .quantidade-plan {
                    background-image: linear-gradient(to right, #731277, #7F1877);
                }

                .exclusivos-plan,
                .whatsapp-plan {
                    background-image: linear-gradient(to right, #901795, #9F1F95);
                    border-top: 1px solid #7F1877;
                }
            }

            .item-plan:nth-child(3) {
                .quantidade-plan {
                    background-image: linear-gradient(to right, #640B76, #6F1076);
                }

                .exclusivos-plan,
                .whatsapp-plan {
                    background-image: linear-gradient(to right, #7E0E94, #8B1594);
                    border-top: 1px solid #6F1076;
                }
            }

            .item-plan:nth-child(4)>.quantidade-plan {
                background-image: linear-gradient(to right, #640B76, #6F1076);
            }

            // end cores

            .item-plan.slick-slide {
                transform: scale(.9);
                transition: ease-in-out 0.3s;
                margin: 0px;
                margin-bottom: 10px;

                &:nth-child(1) {
                    margin-left: 30px;
                }
            }

            .item-plan.slick-slide.slick-current {
                transform: scale(1)
            }

            .slick-dots {
                bottom: -45px;
            }
        }


        .inner-planos {
            display: flex;
            justify-content: center;
            margin-top: 54px;
            align-items: flex-end;

            @include mobile {
                display: block;

            }

            .blur-gb {
                position: absolute;
                left: 0;
                right: 0;
                top: 0px;
                bottom: 0;
                background-image: url(../img/novo/planos_blur_bg_v3.png);
                background-size: 1024px;
                background-repeat: no-repeat;
                background-position: bottom -35px center;
            }

            &:nth-child(3)>.item-plan {
                height: auto;
            }

            .item-plan:nth-child(2) {
                .quantidade-plan {
                    height: 88px;
                    background-image: linear-gradient(to right, #831A77, #8E2077);

                    p:nth-child(2) {
                        padding-top: 0px;
                    }
                }

                .exclusivos-plan,
                .whatsapp-plan {
                    background-image: linear-gradient(to right, #A42195, #B22895);
                    border-top: 1px solid #8E2077;
                }
            }

            .item-plan:nth-child(3) {
                .quantidade-plan {
                    height: 96px;
                    background-image: linear-gradient(to right, #731277, #7F1877);
                }

                .exclusivos-plan,
                .whatsapp-plan {
                    background-image: linear-gradient(to right, #901795, #9F1F95);
                    border-top: 1px solid #7F1877;
                }
            }

            .item-plan:nth-child(4) {
                .quantidade-plan {
                    height: 112px;
                    background-image: linear-gradient(to right, #640B76, #6F1076);
                }

                .exclusivos-plan,
                .whatsapp-plan {
                    background-image: linear-gradient(to right, #7E0E94, #8B1594);
                    border-top: 1px solid #6F1076;
                }
            }

            .item-plan:nth-child(5)>.quantidade-plan {
                height: 144px;
                background-image: linear-gradient(to right, #640B76, #6F1076);
                margin-right: 0px;
            }

            .item-plan:nth-child(5) {
                margin-right: 0px;
            }
        }

        .item-plan {
            width: 224px;
            margin: 0 12px;
            background-color: white;
            box-shadow: 0px 0px 16px 0 rgba(0, 0, 0, 0.1);
            opacity: 0;

            &.fake {
                height: 700px;
            }

            @include mobile {
                width: 224px;
                display: none;
                margin: 0px;
                margin-right: 17px;
            }

            .quantidade-plan {
                color: white;
                padding: 17px 20px 6px 20px;
                display: flex;
                flex-wrap: wrap;
                align-content: flex-end;

                h1 {
                    font-size: 42px;
                    font-weight: 600;
                    text-transform: uppercase;
                    width: 100%;
                    padding: 0px;
                    text-align: left;
                    margin: 0;
                }

                p {
                    color: white;
                    font-weight: 300;
                }

            }

            .exclusivos-plan {
                padding: 17px 20px 6px 20px;
                background: #af2695;

                p {
                    color: white;
                    font-weight: 300;
                    margin-right: -13px;
                    font-size: 14.5px;

                    strong {
                        font-weight: 600;
                        font-size: 15px;
                    }
                }

                .exclusivos-container {
                    display: flex;
                    margin: 10px 0;

                    .exclusivos-item {
                        width: 30px;
                        height: 30px;
                        margin-right: 10px;
                    }
                }
            }

            .whatsapp-plan {
                background: #af2695;
                padding: 14px;
                color: white;
                border-top: 1px solid #7F1877;

                @include mobile {}

                .brand-whatsapp {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row;

                    @include mobile {
                        justify-content: inherit;
                    }

                    img {
                        width: 32px;
                        min-width: 32px;
                        height: 32px;
                        margin-right: 5px;
                        margin-right: 5px;
                        margin-top: 0;
                    }

                    h4 {
                        line-height: 18px;
                        width: 100%;
                        margin: 0 auto;
                        font-weight: 600;
                    }

                    p {
                        font-size: 11.2px;
                    }


                }

                p {
                    color: white;
                    font-size: 13px;
                    font-weight: 300;
                }
            }

            .info-plan {
                margin-bottom: 3px;
                min-height: 91px;

                p {
                    padding: 21px 15px;
                    padding-bottom: 0px;
                    line-height: 15px;
                    font-size: 14px;
                    margin-bottom: 20px;
                    color: black;
                    font-weight: 300;
                    margin-top: 0px;
                    margin-bottom: 0px;

                    strong {
                        font-weight: 500;

                    }

                    &:nth-child(1) {
                        strong {
                            display: inline;

                        }
                    }

                    &:nth-child(2) {
                        // padding-top: 10px;
                        // height: 45px;
                        box-sizing: content-box;
                        margin-bottom: 0;
                    }

                }
            }

            .detalhes {
                color: #888888;
                width: 50%;
                text-align: center;
                margin: 20px 17px 20px 17px;
                padding: 3px;
                font-size: 12px;
                line-height: 12px;
                border-bottom: 1px solid #888;
                margin-top: 10px;
                display: inline-block;
                width: auto;
                margin-bottom: 0;
            }

            .informacoes, .informacoes2  {
                color: #888888;
                width: max-content;
                text-align: center;
                display: block;
                border-bottom: 1px solid #888;
                margin: 12px auto 12px auto;
                padding-bottom: 5px;
                font-size: 12px;
                line-height: 13px;

                @media all and (-ms-high-contrast: none) {
                    width: 50%;
                }
            }

            .regulamiento {
                color: #888888;
                width: max-content;
                text-align: center;
                display: block;
                border-bottom: 1px solid #888;
                margin: 12px auto 12px auto;
                padding-bottom: 5px;
                font-size: 12px;
                line-height: 13px;

                @media all and (-ms-high-contrast: none) {
                    width: 50%;
                }
            }

            .precio-plan {
                display: flex;
                padding: 17px;
                padding-top: 0px;

                h1 {
                    font-weight: 300;
                    font-size: 42px;
                }

                p {
                    font-weight: 300;
                    color: black;
                    margin-left: 5px;
                    margin-top: 14px;
                    align-self: center;

                    span {
                        display: block;
                        margin-top: 0;
                    }
                }


            }

            .assine {
                padding: 0px 17px;

                a {
                    display: block;
                    width: 100%;
                    height: 48px;
                    border: none;
                    background-color: #FF9900;
                    font-weight: 600;
                    color: white;
                    text-align: center;
                    line-height: 48px;
                }
            }

        }

        .legal-planos {
            margin: 32px auto;
            display: block;
            text-align: center;
            display: none;

            a {
                color: #888888;
                text-align: center;
                font-size: 12px;
                line-height: 12px;
                border-bottom: 1px solid #888;
                width: -moz-fit-content;
                margin: 20px auto;
            }

            p {
                color: #888888;
                font-size: 12px;
                text-align: center;
                line-height: 27px;
            }
        }

    }

    .container-ciudade {
        display: flex;
        padding: 40px;
        background: white;
        margin-top: 10px;

        .title-ciudade {
            display: flex;

            img {
                width: 20px;
                margin-right: 10px;

            }

            h2 {}
        }

        input {
            padding: 20px;
            border: 1px solid #DDD;
        }

        button {
            border: none;
            background: #660099;
            color: white;
            font-weight: 600;
            margin: 0 20px;
        }
        
    }
}