<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<location path="fonts">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="360:00:00" />
      </staticContent>
    </system.webServer>
  </location>
  
   <location path="img">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="360:00:00" />
      </staticContent>
    </system.webServer>
  </location>
  
  <location path="js">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="360:00:00" />
      </staticContent>
    </system.webServer>
  </location>
  <location path="css">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="360:00:00" />
      </staticContent>
    </system.webServer>
  </location>
  <location path="ico">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="360:00:00" />
      </staticContent>
    </system.webServer>
  </location>
  <location path="styles">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="360:00:00" />
      </staticContent>
    </system.webServer>
  </location>
  <location path="scripts">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="360:00:00" />
      </staticContent>
    </system.webServer>
  </location>
</configuration>
