/*SPRITES*/
.sprite-sprite, .sprite-celular-2, .cobertura .cobertura__container .cobertura__list .list__item.item--videoConference:before, .section.requisitos .requisitos-4g .requisitos__list .list__item.item--celular:before, .sprite-celular-3, .sprite-celular, .vivo-bis .vivo-bis__container .vivoBis__list .list__item.item--callMobile:before, .sprite-check-black, .sprite-check-roxo, .plans__card .card__advantages .advantage:before, .sprite-chip, .section.requisitos .requisitos-4g .requisitos__list .list__item.item--chip:before, .sprite-download, .cobertura .cobertura__container .cobertura__list .list__item.item--download:before, .sprite-envelope, .vivo-bis .vivo-bis__container .vivoBis__list .list__item.item--sms:before, .sprite-globo, .section.requisitos .requisitos-4g .requisitos__list .list__item.item--globo:before, .sprite-play, .cobertura .cobertura__container .cobertura__list .list__item.item--play:before, .sprite-quatro-g, .vivo-bis .vivo-bis__container .vivoBis__list .list__item.item--internet:before, .section.requisitos .requisitos-4g .requisitos__list .list__item.item--4g:before, .sprite-seta-btn, .btn.btn--chat:before, .sprite-telefone, .vivo-bis .vivo-bis__container .vivoBis__list .list__item.item--callFix:before {
    background-image: url('img/icon-se7be7cbc4e.png');
    background-repeat: no-repeat;
  }
  
  .sprite-celular-2, .cobertura .cobertura__container .cobertura__list .list__item.item--videoConference:before, .section.requisitos .requisitos-4g .requisitos__list .list__item.item--celular:before {
    background-position: 0 0;
    height: 49px;
    width: 31px;
  }
  
  .sprite-celular-3 {
    background-position: 0 -49px;
    height: 48px;
    width: 40px;
  }
  
  .sprite-celular, .vivo-bis .vivo-bis__container .vivoBis__list .list__item.item--callMobile:before {
    background-position: 0 -97px;
    height: 48px;
    width: 31px;
  }
  
  .sprite-check-black {
    background-position: 0 -145px;
    height: 8px;
    width: 10px;
  }
  
  .sprite-check-roxo, .plans__card .card__advantages .advantage:before {
    background-position: 0 -153px;
    height: 8px;
    width: 10px;
  }
  
  .sprite-chip, .section.requisitos .requisitos-4g .requisitos__list .list__item.item--chip:before {
    background-position: 0 -161px;
    height: 48px;
    width: 28px;
  }
  
  .sprite-download, .cobertura .cobertura__container .cobertura__list .list__item.item--download:before {
    background-position: 0 -209px;
    height: 46px;
    width: 48px;
  }
  
  .sprite-envelope, .vivo-bis .vivo-bis__container .vivoBis__list .list__item.item--sms:before {
    background-position: 0 -255px;
    height: 39px;
    width: 48px;
  }
  
  .sprite-globo, .section.requisitos .requisitos-4g .requisitos__list .list__item.item--globo:before {
    background-position: 0 -294px;
    height: 48px;
    width: 37px;
  }
  
  .sprite-play, .cobertura .cobertura__container .cobertura__list .list__item.item--play:before {
    background-position: 0 -342px;
    height: 49px;
    width: 49px;
  }
  
  .sprite-quatro-g, .vivo-bis .vivo-bis__container .vivoBis__list .list__item.item--internet:before, .section.requisitos .requisitos-4g .requisitos__list .list__item.item--4g:before {
    background-position: 0 -391px;
    height: 37px;
    width: 48px;
  }
  
  .sprite-seta-btn, .btn.btn--chat:before {
    background-position: 0 -428px;
    height: 18px;
    width: 18px;
  }
  
  .sprite-telefone, .vivo-bis .vivo-bis__container .vivoBis__list .list__item.item--callFix:before {
    background-position: 0 -446px;
    height: 45px;
    width: 49px;
  }  