<!doctype html>
<html lang="pt-br">
    <head>
        {% set _basePath = "" %}
        {% include "./base/gtm-head.html" %}
        {% include "./base/analytics.html" %}
     
        <title>Vivo Controle</title>
        <meta charset="UTF-8">
        <meta name="description" content="{{seo.description}}">
        <meta name="keywords" content="{{seo.keywords}}">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <meta name="robots" content="index, follow">
        <link rel="shortcut icon" href="img/icon/favicon.ico">
        {% include "./base/common-styles.html" %}
    </head>
    <body>
        {% include "./base/gtm-body.html" %}
        {% include "./novo_components/seo-links.html" %}
        {% include "./novo_components/header.html" %}
        {% include "./novo_components/menu_mobile.html" %}

        <section class="section__wrapper">
            {% include "./novo_components/banner.html" %}
            {% include "./novo_components/vantagens.html" %}
            {% include "./novo_components/conteudos.html" %}
            {% include "./novo_components/planos.html" %}
            {% include "./novo_components/4g.html" %}
            {% include "./novo_components/faq.html" %}
            {% include "./novo_components/footer.html" %}
            {% include "./novo_components/chat.html" %}
        </section>

        <script src="scripts/vendors.js?v=1.0"></script>
        <script src="scripts/main.js?v=1.2"></script>
    </body>
</html>

